<a href="https://colab.research.google.com/github/EloneSampaio/MachineLearning/blob/master/saude.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importar pacotes

In [1]:
import numpy as np
import pandas as pd

## Importar pacotes para machine learning

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## Montar os arquivos do drive

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Importar dados

In [5]:
heart_data = pd.read_csv('/content/drive/MyDrive/DataSet/heart.csv')

In [6]:
## Listar os 5 primeiros itens do dataset
heart_data.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [7]:
## Listar os 5 Ãºltimos itens do dataset

heart_data.tail()

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[5 rows x 14 columns]

In [8]:
## NÃºmero de linhas e colunas do dataset

heart_data.shape

(303, 14)

In [9]:
## Obter informaÃ§Ãµes acerca do dataset
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [10]:
## Verificar os campos nulos
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

## Medidas estÃ¡ticas do dataset

In [11]:
heart_data.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [12]:
## Verificando a distribuiÃ§Ã£o da variÃ¡vel destino 
## 0- coraÃ§Ã£o bom
## 1- coraÃ§Ã£o ruim
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

## Separar variÃ¡vel destino dos recursos

In [13]:
X = heart_data.drop('target',axis=1) #recursos
Y = heart_data['target']  # target

## Separar dados em treino e teste

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2, stratify=Y, random_state=2)

In [15]:
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(242, 13) (61, 13) (242,) (61,)

## Modelo de treinamento

#### RegressÃ£o Linear

In [16]:
modelo = LogisticRegression()

In [17]:
## Treinando o modelo usando os dados de treino
modelo.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

## VerificaÃ§Ã£o do modelo

#### Accuracy Score

In [18]:
## Acuracia nos dados de treinamento
X_train_prediction = modelo.predict(X_train)
trainning_data_accuracy = accuracy_score(X_train_prediction,Y_train)

print('Accuracia dos dados de treino:', trainning_data_accuracy)

Accuracia dos dados de treino: 0.8512396694214877

In [19]:
## Acuracia nos dados de test
X_test_prediction = modelo.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

print('Accuracia dos dados de test:', test_data_accuracy)

Accuracia dos dados de test: 0.819672131147541

## Desenvolvimento de sistema para predicÃ§Ã£o

In [33]:
input_data = (58,1,2,140,211,1,0,165,0,0,2,0,2)
input_data_as_numpyarray= np.asarray(input_data)
input_data_reshaped = input_data_as_numpyarray.reshape(1,-1)
prediction = modelo.predict(input_data_reshaped)
print(prediction)

[1]

In [34]:
if(prediction[0]==0):
    print("coraÃ§Ã£o tÃ¡ ok")
else:
    print("coraÃ§Ã£o ta ruim")

coraÃ§Ã£o ta ruim